{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "indent": [2, 2],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }]
  }
}
